.bloj {
  color: #1a78c2;
  border: 1px solid #1a78c2;
  width: 22%;
  padding: 1%;
}

.bloj > div:after {
  content: '';
  float: left;
  width: 100%;
  clear: both;
}

.bloj label {
  width: 33%;
  float: left;
  margin-right: 1%;
  font-size: 80%;
  margin-top: 4px;
}

.bloj input {
  width: 62%;
  float: left;
  padding: 1%;
  margin-bottom: 10px;
}