.logger {
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 2;
  font-size: 1.2rem;
}

.logger a#toggle {
  position: absolute;
  right: 30px;
  top: 10px;
}

.logger a#reset {
  position: absolute;
  right: 105px;
  top: 10px;
}

.logger .scroll {
  font-family: Monospace;
  overflow-y: scroll;
  padding: 10px;
  word-wrap: break-word;
  height: 100px;
}

.logger.open {
  height: 300px;
}

.logger.open .scroll {
  height: 300px;
}