.queue.open {
  margin-bottom: 30px;
}

.queue h2 {
  margin-bottom: 15px;
}

.queue .fa {
  font-size: 150%;
  margin-top: 6px;
  margin-left: 6px;
  color: #000;
}

.queue .col-lg-4:last-child .queue:last-child {
  margin-bottom: 0;
}

.queue .scroll {
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: 0px;
  margin-right: 0px;
}

.queue .scroll > div {
  margin-bottom: 15px;
}

.queue .scroll > div:first-child {
  padding-left: 0px;
}

.queue .scroll > div:last-child {
  padding-right: 0px;
}

.queue .no-scroll {
  margin-left: 0px;
  margin-right: 0px;
}