.log {
  clear: both;
  margin-bottom: 2px;
  color: #fff;
}

.log span {
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.log .timestamp {
  color: #ccc;
}

.log .info {
  color: #91ff43;
}

.log .error {
  color: red;
}